*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkslategray;
}

::-webkit-scrollbar {
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: mediumseagreen;
    border-radius: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 7%;
    height: 5vh;

    .slider {
        border-radius: 35%;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: powderblue;
        transition: .4s;

        &::before {
            border-radius: 45%;
            position: absolute;
            content: "";
            text-align: center;
            height: 80%;
            width: 45%;
            left: 5%;
            bottom: 10%;
            background-color: olivedrab;
            transition: .4s;
        }
    }
}

#toggle {
    display: none;
}

#toggle:checked {
    &~.switch .slider {
        background-color: olivedrab;
    }

    &~.switch .slider::before {
        transform: translateX(100%);
        background-color: powderblue;
    }
}

.h-title {
    font-size: 2.5em;
    color: white;
}

.sci-calc-container {
    color: lightgray;
    background-color: #363636;
    border: 5px solid deepskyblue;
    border-radius: 10%;
    width: clamp(500px, 40vw, 1000px);
    min-height: 60vh;
    display: grid;
    grid-template-rows: 15% 25% 60%;
    grid-template-columns: 100%;

    header {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        place-items: center;
        padding-top: 5px;

        .header-title {
            grid-row: 1/2;
            font-weight: bold;
            font-size: 1.75em;
        }

        .header-sub {
            grid-row: 2/3;
            font-size: 1.2em;
        }

        .solar-panel {
            grid-row: 1 / 3;
            width: 200px;
            min-height: 80%;
            background-color: sienna;
            // border: 2px solid hsl(19, 56%, 70%);
            box-shadow: inset 0 0 5px 5px #363636;
            border-radius: 5%;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: 93%;
            place-content: center;

            .panel {
                border: 1px solid #363636;
            }
        }
    }


    .screen {
        margin: 5px 20px;
        background-color: hsl(120, 25%, 75%);
        box-shadow: inset 0 0 5px 2px hsl(120, 56%, 20%);

        padding: 10px 5px;
        color: darkblue;
        overflow-x: clip;

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        gap: 5px;

        #topScreen {
            font-size: clamp(1rem, calc(1rem + 1vw), 3rem);
            border: 2px solid red;
            width: 100%;
        }

        #bottomScreen {
            font-size: clamp(1rem, calc(2rem + 3vw), 3rem);
            border: 2px solid blue;
            width: 100%;
        }
    }

    .buttons {
        font-size: clamp(0.25rem, calc(0.5rem + 0.5vw), 3rem);
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 33.33%);

        .buttons-set-1 {
            display: grid;
            grid-template-columns: repeat(3, 32%);

            .btn-input {
                margin: 3px;
                background-color: dimgray;
                color: white;
            }
        }

        .buttons-set-2 {
            display: grid;
            grid-template-columns: repeat(4, 25%);

            .btn-sci {
                margin: 3px;
                background-color: dimgray;
                color: white;
            }
        }

        .buttons-set-3 {
            display: grid;
            grid-template-columns: repeat(2, 50%);

            .btn-operator {
                margin: 5px;
                background-color: dimgray;
                color: white;
            }

            .btn-operator-green {
                @extend .btn-operator;
                background-color: hsl(90, 50%, 50%);
            }

            #equals {
                grid-column: span 2;
            }
        }
    }
}

.calc-container {
    color: lightgray;
    background-color: #363636;
    border: 5px solid deepskyblue;
    border-radius: 10%;
    width: clamp(300px, 25vw, 50vw);
    min-height: 60vh;
    display: grid;
    grid-template-rows: 15% 30% auto;
    grid-template-columns: 100%;

    header {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 50% 50%;
        place-items: center;
        padding-top: 5px;

        .header-title {
            grid-row: 1/2;
            font-weight: bold;
            font-size: 1.5em;
        }

        .header-sub {
            grid-row: 2/3;
            font-size: 1em;
        }

        .solar-panel {
            grid-row: 1 / 3;
            width: 80%;
            min-height: 80%;
            background-color: sienna;
            // border: 2px solid hsl(19, 56%, 70%);
            box-shadow: inset 0 0 5px 5px #363636;
            border-radius: 5%;
            display: grid;
            grid-template-columns: repeat(4, 25%);
            grid-template-rows: 93%;
            place-content: center;

            .panel {
                border: 1px solid #363636;
            }
        }
    }


    .screen {
        margin: 5px 20px;
        background-color: hsl(120, 25%, 75%);
        box-shadow: inset 0 0 5px 2px hsl(120, 56%, 20%);
        text-align: right;
        font-size: clamp(1rem, calc(2rem + 1vw), 5rem);
        padding: 10px 5px;
        

        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        gap: 5px;
        
        #topScreen {
            background-color: rgba(0, 0, 139, 0.025);
            color: rgba(0, 0, 139,0.8);
            font-size: clamp(1rem, calc(1rem + 1vw), 2rem);
            width: 100%;
            overflow: scroll hidden;
        }

        #bottomScreen {
            background-color: rgba(0, 0, 139, 0.025);
            color: rgba(0, 0, 139,1);
            font-size: clamp(1rem, calc(1rem + 3vw), 3rem);
            width: 100%;
            overflow: scroll hidden;
        }
    }

    .buttons {
        font-size: clamp(0.25rem, calc(0.75rem + 0.75vw), 3rem);
        padding: 20px;
        display: grid;
        grid-template-columns: 60% 40%;
        gap: 5px;

        .buttons-set-1 {
            display: grid;
            grid-template-columns: repeat(3, 32%);

            .btn-input {
                margin: 5px;
                background-color: dimgray;
                color: white;
            }
        }

        .buttons-set-2 {
            display: none;
            visibility: hidden;
        }

        .buttons-set-3 {
            display: grid;
            grid-template-columns: repeat(2, 50%);

            .btn-operator {
                margin: 5px;
                background-color: dimgray;
                color: white;
            }

            .btn-operator-green {
                @extend .btn-operator;
                background-color: hsl(90, 50%, 50%);
            }

            #equals {
                grid-column: span 2;
            }
        }
    }
}